# Instalacion e Importacion de Herramientas

In [ ]:
!pip install sqlalchemy

In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
#con la libreria de pandas leemos el archivo y vemos la informacion del mismo
soccer = pd.read_csv('Soccer_Fields.csv')
soccer.info()
soccer

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   NAME            827 non-null    object
 1   FIELD_NUMBER    828 non-null    float64
 2   LENGTH          830 non-null    int64
 3   WIDTH           830 non-null    int64
 4   LATITUDE        830 non-null    float64
 5   LONGITUDE       830 non-null    float64
 6   LOCATION        830 non-null    object
 7   Geometry Point  830 non-null    object
dtypes: float64(3), int64(2), object(3)
memory usage: 52.0+ KB

,NAME,FIELD_NUMBER,LENGTH,WIDTH,LATITUDE,LONGITUDE,LOCATION,Geometry Point
0,St. Richard,2.0,180,90,53.447250,-113.427887,"(53.44725041258844, -113.4278870432343)",POINT (-113.4278870432343 53.44725041258844)
1,Kirkness,3.0,155,95,53.612739,-113.388799,"(53.61273916120768, -113.38879949521728)",POINT (-113.38879949521728 53.61273916120768)
2,St. Martin,1.0,180,130,53.489597,-113.523122,"(53.48959699561292, -113.5231217711674)",POINT (-113.5231217711674 53.48959699561292)
3,Confederation,5.0,180,100,53.482280,-113.520452,"(53.48228027550539, -113.52045162818384)",POINT (-113.52045162818384 53.48228027550539)
4,Kernohan,6.0,180,75,53.591606,-113.381434,"(53.59160610325627, -113.38143350934587)",POINT (-113.38143350934587 53.59160610325627)
...,...,...,...,...,...,...,...,...
825,Dunluce,5.0,240,150,53.621684,-113.526426,"(53.621684236747626, -113.52642610053974)",POINT (-113.52642610053974 53.621684236747626)
826,Kernohan,5.0,230,115,53.592861,-113.381327,"(53.59286132427998, -113.38132707744475)",POINT (-113.38132707744475 53.59286132427998)
827,St. Francis Xavier,6.0,150,100,53.529868,-113.605177,"(53.52986808990979, -113.60517671990944)",POINT (-113.60517671990944 53.52986808990979)
828,Notre Dame,4.0,240,145,53.524741,-113.589338,"(53.52474144099892, -113.58933809679978)",POINT (-113.58933809679978 53.52474144099892)
829,Silver Berry W,2.0,150,90,53.459051,-113.385765,"(53.45905141395509, -113.38576478275047)",POINT (-113.38576478275047 53.45905141395509)

# Limpieza del Archivo

In [3]:
#borramos todas las filas las cuales no tengan ninguna informacion
soccer=soccer.dropna()
soccer = soccer.drop_duplicates()
soccer.head(1)

,NAME,FIELD_NUMBER,LENGTH,WIDTH,LATITUDE,LONGITUDE,LOCATION,Geometry Point
0,St. Richard,2.0,180,90,53.44725,-113.427887,"(53.44725041258844, -113.4278870432343)",POINT (-113.4278870432343 53.44725041258844)

In [4]:
#renombreamos los campos a el idioma nativo para tener una mejor comprecion al momento de analizar
soccer = soccer.rename(columns={'NAME':'NOMBRE',
                             'FIELD_NUMBER':'NUMERO_CAMPO',
                             'LENGTH':'ALTO',
                             'WIDTH':'ANCHO',
                             'LATITUDE':'LATITUD',
                             'LONGITUDE':'LONGITUD',
                             'LOCATION':'UBICACION',
                             'Geometry Point':'GEOMETRIA_CAMPO'})
soccer

,NOMBRE,NUMERO_CAMPO,ALTO,ANCHO,LATITUD,LONGITUD,UBICACION,GEOMETRIA_CAMPO
0,St. Richard,2.0,180,90,53.447250,-113.427887,"(53.44725041258844, -113.4278870432343)",POINT (-113.4278870432343 53.44725041258844)
1,Kirkness,3.0,155,95,53.612739,-113.388799,"(53.61273916120768, -113.38879949521728)",POINT (-113.38879949521728 53.61273916120768)
2,St. Martin,1.0,180,130,53.489597,-113.523122,"(53.48959699561292, -113.5231217711674)",POINT (-113.5231217711674 53.48959699561292)
3,Confederation,5.0,180,100,53.482280,-113.520452,"(53.48228027550539, -113.52045162818384)",POINT (-113.52045162818384 53.48228027550539)
4,Kernohan,6.0,180,75,53.591606,-113.381434,"(53.59160610325627, -113.38143350934587)",POINT (-113.38143350934587 53.59160610325627)
...,...,...,...,...,...,...,...,...
825,Dunluce,5.0,240,150,53.621684,-113.526426,"(53.621684236747626, -113.52642610053974)",POINT (-113.52642610053974 53.621684236747626)
826,Kernohan,5.0,230,115,53.592861,-113.381327,"(53.59286132427998, -113.38132707744475)",POINT (-113.38132707744475 53.59286132427998)
827,St. Francis Xavier,6.0,150,100,53.529868,-113.605177,"(53.52986808990979, -113.60517671990944)",POINT (-113.60517671990944 53.52986808990979)
828,Notre Dame,4.0,240,145,53.524741,-113.589338,"(53.52474144099892, -113.58933809679978)",POINT (-113.58933809679978 53.52474144099892)
829,Silver Berry W,2.0,150,90,53.459051,-113.385765,"(53.45905141395509, -113.38576478275047)",POINT (-113.38576478275047 53.45905141395509)

# Actualizacion y Creacion de la BD

In [5]:
soccer.to_csv('Soccer_limpio.csv')
soccer

,NOMBRE,NUMERO_CAMPO,ALTO,ANCHO,LATITUD,LONGITUD,UBICACION,GEOMETRIA_CAMPO
0,St. Richard,2.0,180,90,53.447250,-113.427887,"(53.44725041258844, -113.4278870432343)",POINT (-113.4278870432343 53.44725041258844)
1,Kirkness,3.0,155,95,53.612739,-113.388799,"(53.61273916120768, -113.38879949521728)",POINT (-113.38879949521728 53.61273916120768)
2,St. Martin,1.0,180,130,53.489597,-113.523122,"(53.48959699561292, -113.5231217711674)",POINT (-113.5231217711674 53.48959699561292)
3,Confederation,5.0,180,100,53.482280,-113.520452,"(53.48228027550539, -113.52045162818384)",POINT (-113.52045162818384 53.48228027550539)
4,Kernohan,6.0,180,75,53.591606,-113.381434,"(53.59160610325627, -113.38143350934587)",POINT (-113.38143350934587 53.59160610325627)
...,...,...,...,...,...,...,...,...
825,Dunluce,5.0,240,150,53.621684,-113.526426,"(53.621684236747626, -113.52642610053974)",POINT (-113.52642610053974 53.621684236747626)
826,Kernohan,5.0,230,115,53.592861,-113.381327,"(53.59286132427998, -113.38132707744475)",POINT (-113.38132707744475 53.59286132427998)
827,St. Francis Xavier,6.0,150,100,53.529868,-113.605177,"(53.52986808990979, -113.60517671990944)",POINT (-113.60517671990944 53.52986808990979)
828,Notre Dame,4.0,240,145,53.524741,-113.589338,"(53.52474144099892, -113.58933809679978)",POINT (-113.58933809679978 53.52474144099892)
829,Silver Berry W,2.0,150,90,53.459051,-113.385765,"(53.45905141395509, -113.38576478275047)",POINT (-113.38576478275047 53.45905141395509)

In [14]:
#importamos la librerias necesarias para la conexion e importacion del archivo
from sqlalchemy import create_engine

# Crear el objeto de conexiÃ³n SQLAlchemy
conexion = create_engine('mysql+pymysql://einarr07:sincontra@mysql-einarr07.alwaysdata.net/einarr07_soccer')

# Hago esto para verificar si realmente se pudo conectar o algo sucedio
try:
    conexion.connect()
    print("La conexiÃ³n a la base de datos MySQL fue exitosa")
except Exception as e:
    print(f"Error de conexiÃ³n: {e}")

La conexiÃ³n a la base de datos MySQL fue exitosa

In [17]:
# Escribir datos en la base de datos
table = 'Resultados_Soccer'
soccer.to_sql(table, con=conexion, if_exists='append', index=False)

825

In [18]:
#Realizo una consulta para comprovar si los datos fueron gurdados en mi BD
# Realizar la consulta a la base de datos
consulta = "SELECT * FROM Resultados_Soccer"
resultados = pd.read_sql_query(consulta, conexion)

# Verificar que se hayan obtenido los datos correctamente
print(resultados.head())

          NOMBRE  NUMERO_CAMPO  ALTO  ANCHO    LATITUD    LONGITUD  \
0    St. Richard           2.0   180     90  53.447250 -113.427887
1       Kirkness           3.0   155     95  53.612739 -113.388799
2     St. Martin           1.0   180    130  53.489597 -113.523122
3  Confederation           5.0   180    100  53.482280 -113.520452
4       Kernohan           6.0   180     75  53.591606 -113.381434

                                  UBICACION  \
0   (53.44725041258844, -113.4278870432343)
1  (53.61273916120768, -113.38879949521728)
2   (53.48959699561292, -113.5231217711674)
3  (53.48228027550539, -113.52045162818384)
4  (53.59160610325627, -113.38143350934587)

                                 GEOMETRIA_CAMPO
0   POINT (-113.4278870432343 53.44725041258844)
1  POINT (-113.38879949521728 53.61273916120768)
2   POINT (-113.5231217711674 53.48959699561292)
3  POINT (-113.52045162818384 53.48228027550539)
4  POINT (-113.38143350934587 53.59160610325627)

# Graficos